* {
    padding: 0;
    margin: 0;
  }
  
  .navholder {
    width: 100%;
    height: 60px;
    padding: 0px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .navleft,
  .navright {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkss {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.615);
    padding: 10px 20px;
    margin: 0px 15px;
  }
  
  .linkss:hover
  {
    color: white;
    border-bottom: solid tomato 4px;
  }

  .bin:hover{
    color: white;
    border-bottom: solid tomato 4px;
  }
  