
*{
    padding: 0;
    margin: 0;
}
.navholder{
    width: 100%;
    /* background-color: darkmagenta; */
    height: 60px;
    padding: 0px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    /* margin-bottom: 50px; */
    
    
}
.navleft{
    /* background-color: black; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navright{
    /* background: red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navholder a{
   padding: 0px 10px;
    text-decoration: none;
    color: white;
    /* background-color: red; */
    
}
.navholder a :hover{
    text-decoration: underline;
    text-decoration-color: tomato;
    text-decoration-thickness: 3px;
    

   
}

.navholder .navleft a.selected,
.navholder .navright a.selected {
  color: red;
}
